@import "tailwindcss";

@theme {
  --color-foreground: #fafafa;
  --color-foreground-off: #676767;

  --color-accent: #000bde;

  --color-background: #010101;
  --color-background-card: #060606;
  --color-background-focus: #111111;
}
